<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%n%d | [%thread] | %-5level | %logger{36} | remoteHost::%X{req.remoteHost} | X-forwarded::%X{req.xForwardedFor} | URI::%X{req.requestURI}| %msg</pattern>
        </encoder>
    </appender>

	<logger name="org.hibernate" level="info"/> 
    <logger name="com.a1.electronics.ecommerce" level="info"/>
         
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>
